body {
    background-color: #1c1a21;
}

h1 {
    color: rgb(227, 169, 23);
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 5rem;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

h2 {
    color: #e4e3e3;
    font-family: 'Rakkas', serif;
    font-size: 3rem;
    text-align: center;
}

h3 {
    color: #868686;
    font-family: 'Book Antiqua', serif;
    font-size: 15px;
    text-align: center;
}

h4 {
    color: #ffffff;
    font-family: 'Book Antiqua', serif;
    font-size: 1.5rem;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}


p {
    color: #e4e3e3;
    font-size: 2rem;
    text-align: center;
    font-family:'Rakkas', serif;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    padding: 10px;
    font-size: 20px;
    font-family: 'Rakkas', serif;
    border-radius: 5px;
    color: darkred;
    background-color: #e0e0de;
    border: 1px solid rgb(0, 0, 0);
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding: 10px;
    font-size: 20px;
    font-family: 'Rakkas', serif;
    border-radius: 5px;
    border: 3px solid rgb(227, 169, 23);
    background-color: #1c1a21;
    color: rgb(227, 169, 23);
}

#weaponResult {
  color: #e0e0de;
  font-family: 'Book Antiqua', serif;
  font-size: 1.5rem;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

weapon.img {
    width: 100%;
    height: auto;
}

a {
    font-family: 'Rakkas', serif;
    text-decoration: none;
    background-color: #1c1a21;
    color: rgb(227, 169, 23);
}

li {
    color: #484848;
    font-size: 15px;
    margin-left: 50px;
    margin-right: 50px;
    font-family:'Times New Roman', Times;
}

@media (max-width:500px) {
  button  {
    width:50%;
  }
  input {
    width: 50%;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.2rem; 
    text-align: center;
    margin-left: 1px !important;
    margin-right: 1px !important;
  }
  p {
    font-size: 1.5rem;
}
}
